<br>
<div class="container" *ngIf="showChange">
  <label for="changePassword">Passwort ändern:</label>
  <fieldset class="form-group" id="changePassword">
    <label for="password">Neues Passwort:</label>
    <input type="password" id="password" [(ngModel)]="password" class="form-control">
    <label for="password">Passwort bestätigen: </label>
    <input type="password" id="passwordConfirm" [(ngModel)]="passwordConfirm" class="form-control">
    <br>
    <input type="button" class="form-control btn btn-success" value="Zurücksetzen" (click)="changePassword()">
  </fieldset>
</div>
