<div class="window_wrapper">
  <div class="window">
    <div class="window_topbar">
      <div class="window_text">Wählen Sie einen Pool</div>
      <div class="window_close" (click)="back()">Schließen</div>
      <div class="clear"></div>
    </div>
    <div class="window_content">
      <ul>
        <div *ngIf="finders[0] !== undefined">
          <li *ngFor="let finder of finders[0].finderNames" (click)="update(finder.ID)">
            {{ finder.NAME }}
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>