.cmp-box {
  width: 100%;
  padding: 8px;
}
.select-box {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 8px;
}
.item {
  width: 100%;
  padding: 4px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #000000;
}
.head {
  font-weight: bold;
  text-align: center;
}
.item-wrapper {
  overflow-y: scroll;
  height: 200px;
}
.filter-field {
  width: 100%;
}
.filter-field-box {
  padding: 8px;
}
.radio {
  margin: 10px;
}

